@using Coban.Market.Language
@model Coban.Market.Entities.MarketUser
@{
    ViewBag.Title = "EditProfile";
}

@Html.Partial("_Partialbreadcrumbs")

<div class="container padding-top-1x padding-bottom-3x">
    <div class="row">
        @Html.Partial("_PartialProfileCard", Model)
        <div class="col-lg-8">
            <div class="padding-top-2x mt-2 hidden-lg-up"></div>

            @using (Html.BeginForm("EditProfile", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                @Html.ValidationSummary(false)
                @Html.HiddenFor(model => model.Id)
                <div class="row">


                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-fn"> </label>
                            <input type="file" name="Image" class="form-control" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-fn">First Name</label>
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-ln">Last Name</label>
                            @Html.TextBoxFor(x => x.Surname, new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-ln">Last Name</label>
                            @Html.TextBoxFor(x => x.Username, new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-email">E-Mail Address</label>
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @required = "required", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-phone">Phone Number</label>
                            @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-pass">New Password</label>
                            @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @required = "required", @type = "password" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-confirm-pass">Confirm Password</label>
                            <input class="form-control" type="password" id="account-confirm-pass" value="********">
                        </div>
                    </div>
                    <div class="col-12">
                        <hr class="mt-2 mb-3">
                        <div class="d-flex flex-wrap justify-content-between align-items-center">
                            <div class="custom-control custom-checkbox d-block">

                            </div>
                            <button class="btn btn-primary margin-right-none" type="submit">Save</button>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>


