@using Coban.Market.Language

@{
    ViewBag.Title = Language.Categories;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/fancybox/css")
@Styles.Render("~/fancybox/js")
@Styles.Render("~/daterangepicker/css")
@Styles.Render("~/category/index/css")
@Html.Partial("_PartialSearchBox")
@Html.Partial("_PartialDatatable")
@Scripts.Render("~/category/index/js")
@Scripts.Render("~/daterangepicker/js")
@Scripts.Render("~/dateRangeStart/js")

<div class="modal fade bd-example-modal-lg" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger text-center" id="exampleModalLongTitle">
                    @Language.LostData
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("Edit", "Category", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="" name="Image" class="Image" id="Image" />
                        </div>
                        <div class="col-lg-8">
                            <div class="form group row" style="display: none;">
                                <div class="control-label col-md-4">Id</div>
                                <div class="col-md-8">
                                    <input type="text" name="Id" class="form-control Id" id="Id" />
                                </div>
                            </div>
                            <div class="form group row">
                                <div class="control-label col-md-4">
                                    <b class="text-primary">@Language.CategoryTitle</b>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" name="Title" class="form-control Title" id="Title" />
                                </div>
                            </div>
                            <br />
                            <div class="form group row">
                                <div class="control-label col-md-4">
                                    <b class="text-primary">@Language.CategoryDescription</b>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" name="Description" class="form-control Title" id="Description" />
                                </div>
                            </div>
                            <br />
                            <div class="form group row">
                                <div class="control-label col-md-4">
                                    <b class="text-primary">@Language.CategoryImage</b>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group ">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-upload"></i></span>
                                        </div>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input Image" id="Image2" name="Image2">
                                            <label class="custom-file-label" for="Image2">@Language.Selectfile</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        @Language.Close
                    </button>
                    <button type="submit" class="btn btn-success">
                        @Language.Save
                    </button>
                </div>
            }
        </div>
    </div>
</div>