@using Coban.Market.Language
@model Coban.Market.Entities.Product

@{
    ViewBag.Title = "Product Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css">
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<script src="~/ContentAdmin/Other/MoneyMask/js/jquery.maskMoney.js"></script>


<div class="row">
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                    @Language.CreateProduct
                </h6>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Create", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="row">
                        <div class="col-lg-6">
                            <h3 style="border-bottom: 1px solid crimson" class="text-center text-success pb-2">Product Property</h3>

                            <div class="form-group row">

                                <div class="control-label col-md-4">
                                    @Language.ProductName
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.ProductName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="control-label col-md-4">
                                    @Language.ProductBrand
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.ProductBrand, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ProductBrand, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <h3 style="border-bottom: 1px solid crimson" class="text-center text-success pb-2">Product Prices</h3>
                            <div class="form-group row">
                                <div class="control-label col-md-4">
                                    @Language.Price
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="control-label col-md-4">
                                    @Language.ExchangeRate
                                </div>
                                <div class="col-md-8">
                                    @Html.EnumDropDownListFor(model => model.ExchangeRate, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ExchangeRate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="control-label col-md-4">
                                    @Language.DiscountedPrice
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.DiscountedPrice, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.DiscountedPrice, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="control-label col-md-4">
                                    @Language.KdvPercent
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.TaxPercent, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TaxPercent, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="control-label col-md-4">
                                    @Language.ProductDescription
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="control-label col-md-4">
                                    @Language.ProductLittleDescription
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.LittleDescription, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.LittleDescription, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="control-label col-md-4">
                                    product property
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.ProductPropertys, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ProductPropertys, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="control-label col-md-4">
                                    @Language.IsSale
                                </div>
                                <div class="col-md-8">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(model => model.IsSale)
                                        @Html.ValidationMessageFor(model => model.IsSale, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="control-label col-md-4">
                                    @Language.SerialNumber
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.SerialNumber, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.SerialNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="control-label col-md-4">
                                    @Language.Stock
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.StockCode, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.StockCode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="control-label col-md-4">
                                    @Language.Stock
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.StockNumber, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.StockNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="control-label col-md-4">
                                    @Language.LikeCount
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.LikeCount, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.LikeCount, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="control-label col-md-4">
                                    @Language.CategoryTitle
                                </div>
                                <div class="col-md-8">
                                    @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <h3 style="border-bottom: 1px solid crimson" class="text-center text-success pb-2">Product Image</h3>
                            <div class="form-group row">
                                <div class="control-label col-md-4">
                                    @Language.Image
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-upload"></i>
                                            </span>
                                        </div>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input Image1" id="Image1" name="Image1">
                                            <label class="custom-file-label" for="Image1">Dosya Seçiniz</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="control-label col-md-4">
                                    @Language.Image
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-upload"></i>
                                            </span>
                                        </div>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input Image2" id="Image2" name="Image2">
                                            <label class="custom-file-label" for="Image2">Dosya Seçiniz</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="control-label col-md-4">
                                    @Language.Image
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-upload"></i>
                                            </span>
                                        </div>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input Image3" id="Image3" name="Image3">
                                            <label class="custom-file-label" for="Image3">Dosya Seçiniz</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="control-label col-md-4">
                                    @Language.Image
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-upload"></i>
                                            </span>
                                        </div>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input Image4" id="Image4" name="Image4">
                                            <label class="custom-file-label" for="Image4">Dosya Seçiniz</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group row">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            $('#DiscountedPrice').maskMoney();
            $('#Price').maskMoney();
        



        })
    </script>
}

