@using Coban.Market.Entities.Enums
@using Coban.Market.Language
@using Coban.Market.Web.Models
@model Coban.Market.Entities.MarketUser

@{
    ViewBag.Title = Language.MarketUserSave;
}
@Styles.Render("~/marketuser/create/css")
<div class="row">
    <div class="col-lg-8">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                    @Language.MarketUserSave
                </h6>
            </div>
            <div class="card-body">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group row">
                        <div class="control-label col-md-4">
                            @Language.Name
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="control-label col-md-4">
                            @Language.Surname
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.Surname, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="control-label col-md-4">
                            @Language.Username
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="control-label col-md-4">
                            @Language.Email
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="control-label col-md-4">
                            @Language.Role
                        </div>
                        <div class="col-md-8">
                            @if (CurrentSession.User==null)
                            {
                                @Html.EnumDropDownListFor(model => model.Role, new { @class = "form-control" })
                            }
                            else
                            {
                                @Html.EnumDropDownListFor(model => model.Role, new { @class = "form-control", @disabled = "disabled" })
                            }

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-7">

                        </div>
                        <div class="col-md-3">
                            <a href="@Url.Action("Index", "MarketUser")" class="btn btn-primary float-right">
                                <i class="fa fa-angle-double-left"></i>
                                @Language.BackToList
                            </a>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-success">
                                <i class="fa fa-save"></i>
                                @Language.Save
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/marketuser/create/css")


