@using Coban.Market.Entities.Enums
@model IEnumerable<Coban.Market.Entities.MarketUser>

@{
    ViewBag.Title = "IndexDetails";
}
<style>
    .v {
        border-left: 2px solid crimson;
        height: 200px;
        position: absolute;
    }

    #v1 {
        left: 25%;
    }

    #v2 {
        left: 50%;
    }

    #v3 {
        left: 75%;
    }

    .photo:hover {
        cursor: move;
    }
</style>

<div class="col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-success text-center">
                    Kullanıcılar
                </h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3">
                        <h2 class="text-primary text-center">
                            <u> Full Admin</u>

                        </h2>
                        @foreach (var item in Model)
                        {
                            if (item.Role == MarketUserRole.FullAdmin)
                            {
                                <img style="width:75px;" class="card-img-top photo" src="https://i0.wp.com/www.winhelponline.com/blog/wp-content/uploads/2017/12/user.png?fit=256%2C256&quality=100&ssl=1" alt="@item.Name @item.Surname">
                            }
                        }

                    </div>
                    <span class="v" id="vl" style="left: 25%;">
                    </span>
                    <div class="col-lg-3">
                        <h2 class="text-primary text-center"><u>Yeni Kullanıcı</u></h2>
                        @foreach (var item in Model)
                        {
                            if (item.Role == MarketUserRole.NewUser)
                            {
                                <img style="width:75px;" class="card-img-top photo" src="https://i0.wp.com/www.winhelponline.com/blog/wp-content/uploads/2017/12/user.png?fit=256%2C256&quality=100&ssl=1" alt="@item.Name @item.Surname">
                            }
                        }

                    </div>
                    <span class="v" id="v2">
                    </span>
                    <div class="col-lg-3">
                        <h2 class="text-primary text-center"><u>Admin</u></h2>
                        @foreach (var item in Model)
                        {
                            if (item.Role == MarketUserRole.Admin)
                            {
                                <img style="width:75px;" class="card-img-top photo" src="https://i0.wp.com/www.winhelponline.com/blog/wp-content/uploads/2017/12/user.png?fit=256%2C256&quality=100&ssl=1" alt="@item.Name @item.Surname">
                            }
                        }

                    </div>
                    <span class="v" id="v3">
                    </span>
                    <div class="col-lg-3">
                        <h2 class="text-primary text-center"><u>Editör</u></h2>
                        @foreach (var item in Model)
                        {
                            if (item.Role == MarketUserRole.Editör)
                            {
                               
                                <img style="width:75px;" class="card-img-top photo" src="https://i0.wp.com/www.winhelponline.com/blog/wp-content/uploads/2017/12/user.png?fit=256%2C256&quality=100&ssl=1" alt="@item.Name @item.Surname">
                            }
                        }

                    </div>

                </div>
            </div>
        </div>

    </div>

