@using System.Web.UI.WebControls
@using Coban.Market.Entities
@{
    IEnumerable<Category> categories = ViewData["catList"] as IEnumerable<Category>;
    IEnumerable<Product> products = ViewData["prdList"] as IEnumerable<Product>;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>Coban Market | @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    @Styles.Render("~/layoutCustomer/css")
</head>
<body>
    <!-- Start Page Preloader -->
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object" id="object_four"></div>
                <div class="object" id="object_three"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_one"></div>
            </div>
        </div>
    </div>
    <!-- End Page Preloader -->
    <!-- Start Shop Category Menu -->
    <div class="offcanvas-container" id="shop-categories">
        <div class="offcanvas-header">
            <h3 class="offcanvas-title">Shop Categories</h3>
        </div>
        <nav class="offcanvas-menu">
            <ul class="menu">
                <li class="has-children">
                    <span>
                        <a href="shop-categories-1.html">Mobiles & Tablets</a>
                        <span class="sub-menu-toggle"></span>
                    </span>
                    <ul class="offcanvas-submenu">
                        <li><a href="shop-grid-1.html">Mobile Phones</a></li>
                        <li><a href="shop-grid-1.html">Tabs & Tablets</a></li>
                        <li><a href="shop-grid-1.html">Game Devices</a></li>
                        <li><a href="shop-grid-1.html">Accessories</a></li>
                        <li><a href="shop-grid-1.html">View All</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <span>
                        <a href="shop-categories-2.html">Laptops & Computers</a>
                        <span class="sub-menu-toggle"></span>
                    </span>
                    <ul class="offcanvas-submenu">
                        <li><a href="shop-grid-2.html">Laptops</a></li>
                        <li><a href="shop-grid-2.html">Computers</a></li>
                        <li><a href="shop-grid-2.html">PC SoftWare</a></li>
                        <li><a href="shop-grid-2.html">Accessories</a></li>
                        <li><a href="shop-grid-2.html">View All</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <span>
                        <a href="shop-categories-3.html">Cameras & TV's</a>
                        <span class="sub-menu-toggle"></span>
                    </span>
                    <ul class="offcanvas-submenu">
                        <li><a href="shop-grid-3.html">Cameras</a></li>
                        <li><a href="shop-grid-3.html">Photos</a></li>
                        <li><a href="shop-grid-3.html">TV's</a></li>
                        <li><a href="shop-grid-3.html">Accessories</a></li>
                        <li><a href="shop-grid-3.html">View All</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <span>
                        <a href="shop-categories-1.html">Watches & Eyewear</a>
                        <span class="sub-menu-toggle"></span>
                    </span>
                    <ul class="offcanvas-submenu">
                        <li><a href="shop-list-1.html">Watches</a></li>
                        <li><a href="shop-list-1.html">Jewellery</a></li>
                        <li><a href="shop-list-1.html">Eyewear</a></li>
                        <li><a href="shop-list-1.html">Accessories</a></li>
                        <li><a href="shop-list-1.html">View All</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <span>
                        <a href="shop-categories-2.html">Home Appliances</a>
                        <span class="sub-menu-toggle"></span>
                    </span>
                    <ul class="offcanvas-submenu">
                        <li><a href="shop-list-2.html">Washers & Dryers</a></li>
                        <li><a href="shop-list-2.html">Air Conditioners</a></li>
                        <li><a href="shop-list-2.html">Sewing machines</a></li>
                        <li><a href="shop-list-2.html">Accessories</a></li>
                        <li><a href="shop-list-2.html">View All</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <span>
                        <a href="shop-categories-3.html">Accessories</a>
                        <span class="sub-menu-toggle"></span>
                    </span>
                    <ul class="offcanvas-submenu">
                        <li><a href="shop-list-3.html">Memory Cards</a></li>
                        <li><a href="shop-list-3.html">USB Flash Drives</a></li>
                        <li><a href="shop-list-3.html">External HDD</a></li>
                        <li><a href="shop-list-3.html">Accessories</a></li>
                        <li><a href="shop-list-3.html">View All</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <!-- End Shop Category Menu -->
    <!-- Start Mobile Menu -->
    <div class="offcanvas-container" id="mobile-menu">
        <a class="account-link" href="#">
            <div class="user-ava">
                <img src="~/ContentCustomer/Theme/images/account/user-ava-md.jpg" alt="Tony Stark">
            </div>
            <div class="user-info">
                <h6 class="user-name">Tony Stark</h6>
                <span class="text-sm text-white opacity-60">530 Reward Points</span>
            </div>
        </a>
        <nav class="offcanvas-menu">
            <ul class="menu">
                <li class="has-children active">
                    <span>
                        <a href="index-1.html"><span>Home</span></a>
                        <span class="sub-menu-toggle"></span>
                    </span>
                    <ul class="offcanvas-submenu">
                        <li class="active"><a href="index-1.html">Home Version 1</a></li>
                        <li><a href="index-2.html">Home Version 2</a></li>
                        <li><a href="index-3.html">Home Version 3</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <span>
                        <a href="#"><span>Shop</span></a>
                        <span class="sub-menu-toggle"></span>
                    </span>
                    <ul class="offcanvas-submenu">
                        <li class="has-children">
                            <span>
                                <a href="#"><span>Shop Categories</span></a>
                                <span class="sub-menu-toggle"></span>
                            </span>
                            <ul class="offcanvas-submenu">
                                <li><a href="shop-categories-1.html">Categories Left Sidebar</a></li>
                                <li><a href="shop-categories-2.html">Categories Right Sidebar</a></li>
                                <li><a href="shop-categories-3.html">Categories No Sidebar</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <span>
                                <a href="#"><span>Shop Grid</span></a>
                                <span class="sub-menu-toggle"></span>
                            </span>
                            <ul class="offcanvas-submenu">
                                <li><a href="shop-grid-1.html">Shop Grid Left Sidebar</a></li>
                                <li><a href="shop-grid-2.html">Shop Grid Right Sidebar</a></li>
                                <li><a href="shop-grid-3.html">Shop Grid No Sidebar</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <span>
                                <a href="#"><span>Shop List</span></a>
                                <span class="sub-menu-toggle"></span>
                            </span>
                            <ul class="offcanvas-submenu">
                                <li><a href="shop-list-1.html">Shop List Left Sidebar</a></li>
                                <li><a href="shop-list-2.html">Shop List Right Sidebar</a></li>
                                <li><a href="shop-list-3.html">Shop List No Sidebar</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <span>
                                <a href="#"><span>Single Product</span></a>
                                <span class="sub-menu-toggle"></span>
                            </span>
                            <ul class="offcanvas-submenu">
                                <li><a href="shop-single-1.html">Single Product Left Sidebar</a></li>
                                <li><a href="shop-single-2.html">Single Product Right Sidebar</a></li>
                                <li><a href="shop-single-3.html">Single Product No Sidebar</a></li>
                            </ul>
                        </li>
                        <li><a href="cart.html">Shopping Cart</a></li>
                        <li><a href="checkout-address.html">Checkout</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <span>
                        <a href="#">Categories</a>
                        <span class="sub-menu-toggle"></span>
                    </span>
                    <ul class="offcanvas-submenu">
                        <li class="has-children">
                            <span>
                                <a href="shop-categories-1.html">Mobiles & Tablets</a>
                                <span class="sub-menu-toggle"></span>
                            </span>
                            <ul class="offcanvas-submenu">
                                <li><a href="shop-grid-1.html">Mobile Phones</a></li>
                                <li><a href="shop-grid-1.html">Tabs & Tablets</a></li>
                                <li><a href="shop-grid-1.html">Game Devices</a></li>
                                <li><a href="shop-grid-1.html">Accessories</a></li>
                                <li><a href="shop-grid-1.html">View All</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <span>
                                <a href="shop-categories-2.html">Laptops & Computers</a>
                                <span class="sub-menu-toggle"></span>
                            </span>
                            <ul class="offcanvas-submenu">
                                <li><a href="shop-grid-2.html">Laptops</a></li>
                                <li><a href="shop-grid-2.html">Computers</a></li>
                                <li><a href="shop-grid-2.html">PC SoftWare</a></li>
                                <li><a href="shop-grid-2.html">Accessories</a></li>
                                <li><a href="shop-grid-2.html">View All</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <span>
                                <a href="shop-categories-3.html">Cameras & TV's</a>
                                <span class="sub-menu-toggle"></span>
                            </span>
                            <ul class="offcanvas-submenu">
                                <li><a href="shop-grid-3.html">Cameras</a></li>
                                <li><a href="shop-grid-3.html">Photos</a></li>
                                <li><a href="shop-grid-3.html">TV's</a></li>
                                <li><a href="shop-grid-3.html">Accessories</a></li>
                                <li><a href="shop-grid-3.html">View All</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <span>
                                <a href="shop-categories-1.html">Watches & Eyewear</a>
                                <span class="sub-menu-toggle"></span>
                            </span>
                            <ul class="offcanvas-submenu">
                                <li><a href="shop-list-1.html">Watches</a></li>
                                <li><a href="shop-list-1.html">Jewellery</a></li>
                                <li><a href="shop-list-1.html">Eyewear</a></li>
                                <li><a href="shop-list-1.html">Accessories</a></li>
                                <li><a href="shop-list-1.html">View All</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <span>
                                <a href="shop-categories-2.html">Home Appliances</a>
                                <span class="sub-menu-toggle"></span>
                            </span>
                            <ul class="offcanvas-submenu">
                                <li><a href="shop-list-2.html">Washers & Dryers</a></li>
                                <li><a href="shop-list-2.html">Air Conditioners</a></li>
                                <li><a href="shop-list-2.html">Sewing machines</a></li>
                                <li><a href="shop-list-2.html">Accessories</a></li>
                                <li><a href="shop-list-2.html">View All</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <span>
                                <a href="shop-categories-3.html">Accessories</a>
                                <span class="sub-menu-toggle"></span>
                            </span>
                            <ul class="offcanvas-submenu">
                                <li><a href="shop-list-3.html">Memory Cards</a></li>
                                <li><a href="shop-list-3.html">USB Flash Drives</a></li>
                                <li><a href="shop-list-3.html">External HDD</a></li>
                                <li><a href="shop-list-3.html">Accessories</a></li>
                                <li><a href="shop-list-3.html">View All</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="has-children">
                    <span>
                        <a href="#"><span>Account</span></a>
                        <span class="sub-menu-toggle"></span>
                    </span>
                    <ul class="offcanvas-submenu">
                        <li><a href="account-login.html">Login & Register</a></li>
                        <li><a href="account-password-recovery.html">Password Recovery</a></li>
                        <li><a href="account-profile.html">Profile Page</a></li>
                        <li><a href="account-address.html">Shipping Address</a></li>
                        <li><a href="account-orders.html">My Orders</a></li>
                        <li><a href="account-wishlist.html">My Wishlist</a></li>
                        <li><a href="account-tickets.html">My Tickets</a></li>
                        <li><a href="account-single-ticket.html">Single Ticket</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <span>
                        <a href="#"><span>Blog</span></a>
                        <span class="sub-menu-toggle"></span>
                    </span>
                    <ul class="offcanvas-submenu">
                        <li class="has-children">
                            <span>
                                <a href="#"><span>Blog Layout</span></a>
                                <span class="sub-menu-toggle"></span>
                            </span>
                            <ul class="offcanvas-submenu">
                                <li><a href="blog-1.html">Blog Left Sidebar</a></li>
                                <li><a href="blog-2.html">Blog Right Sidebar</a></li>
                                <li><a href="blog-3.html">Blog No Sidebar</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <span>
                                <a href="#"><span>Single Post Layout</span></a>
                                <span class="sub-menu-toggle"></span>
                            </span>
                            <ul class="offcanvas-submenu">
                                <li><a href="blog-single-1.html">Post Left Sidebar</a></li>
                                <li><a href="blog-single-2.html">Post Right Sidebar</a></li>
                                <li><a href="blog-single-3.html">Post No Sidebar</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="has-children">
                    <span>
                        <a href="#"><span>Pages</span></a>
                        <span class="sub-menu-toggle"></span>
                    </span>
                    <ul class="offcanvas-submenu">
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="contacts.html">Contact Us</a></li>
                        <li><a href="team.html">Our Team</a></li>
                        <li><a href="faq.html">Help & Support</a></li>
                        <li><a href="order-tracking.html">Order Tracking</a></li>
                        <li><a href="search-results.html">Search Results</a></li>
                        <li><a href="404.html">404 Page</a></li>
                        <li><a href="coming-soon.html">Coming Soon</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <span>
                        <a href="#"><span>ShortCodes</span></a>
                        <span class="sub-menu-toggle"></span>
                    </span>
                    <ul class="offcanvas-submenu">
                        <li><a href="accordions.html">Accordions</a></li>
                        <li><a href="alerts.html">Alerts</a></li>
                        <li><a href="buttons.html">Buttons</a></li>
                        <li><a href="pagination.html">Pagination</a></li>
                        <li><a href="steps.html">Steps</a></li>
                        <li><a href="tabs.html">Tabs</a></li>
                        <li><a href="progress-bars.html">Progress Bar</a></li>
                        <li class="active"><a href="carousel.html">Carousels</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <!-- End Mobile Menu -->
    <!-- Start TopBar -->
    <div class="topbar">
        <div class="topbar-column">
            <a class="hidden-md-down" href="#"><i class="fa fa-phone"></i>&nbsp;+1 888 888 8888</a>
            <a class="hidden-md-down" href="#"><i class="fa fa-envelope-o"></i>&nbsp;info@yoursite.com</a>
            <a class="hidden-md-down" href="#"><i class="fa fa-map-marker"></i> 221B Baker Street, London, UK</a>
        </div>
        <div class="topbar-column">
            <div class="lang-currency-switcher-wrap">
                <div class="lang-currency-switcher dropdown-toggle">
                    <span class="currency">$ USD</span>
                </div>
                <div class="dropdown-menu">
                    <div class="currency-select">
                        <select class="form-control form-control-rounded form-control-sm">
                            <option value="usd">$ USD</option>
                            <option value="usd">€ EUR</option>
                            <option value="usd">£ UKP</option>
                            <option value="usd">¥ JPY</option>
                        </select>
                    </div>
                </div>
            </div>
            <a class="social-button sb-facebook shape-none sb-dark soc-border" href="#" target="_blank"><i class="socicon-facebook"></i></a>
            <a class="social-button sb-twitter shape-none sb-dark" href="#" target="_blank"><i class="socicon-twitter"></i></a>
            <a class="social-button sb-instagram shape-none sb-dark" href="#" target="_blank"><i class="socicon-instagram"></i></a>
        </div>
    </div>
    <!-- End TopBar -->
    <!-- Start NavBar -->
    <header class="navbar navbar-sticky">
        <!-- Start Search -->
        <form class="site-search" method="get">
            <input type="text" name="site_search" placeholder="Type to search...">
            <div class="search-tools">
                <span class="clear-search">Clear</span>
                <span class="close-search"><i class="icon-cross"></i></span>
            </div>
        </form>
        <!-- End Search -->
        <!-- Start Logo -->
        <div class="site-branding">
            <div class="inner">
                <a class="offcanvas-toggle cats-toggle" href="#shop-categories" data-toggle="offcanvas"></a>
                <a class="offcanvas-toggle menu-toggle" href="#mobile-menu" data-toggle="offcanvas"></a>
                <a class="site-logo" href="index-1.html"><img src="~/ContentCustomer/Theme/images/logo/logo.png" alt="Inspina"></a>
            </div>
        </div>
        <!-- End Logo -->
        <!-- Start Nav Menu -->
        <nav class="site-menu">
            <ul>
                <li class="active">
                    <a href="#"><span>Home</span></a>
                    <ul class="sub-menu">
                        <li><a href="index-1.html">Home Version 1</a></li>
                        <li class="active"><a href="index-2.html">Home Version 2</a></li>
                        <li><a href="index-3.html">Home Version 3</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><span>Shop</span></a>
                    <ul class="sub-menu">
                        <li class="has-children">
                            <a href="#"><span>Shop Categories</span></a>
                            <ul class="sub-menu">
                                <li><a href="shop-categories-1.html">Categories Left Sidebar</a></li>
                                <li><a href="shop-categories-2.html">Categories Right Sidebar</a></li>
                                <li><a href="shop-categories-3.html">Categories No Sidebar</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#"><span>Shop Grid</span></a>
                            <ul class="sub-menu">
                                <li><a href="shop-grid-1.html">Shop Grid Left Sidebar</a></li>
                                <li><a href="shop-grid-2.html">Shop Grid Right Sidebar</a></li>
                                <li><a href="shop-grid-3.html">Shop Grid No Sidebar</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#"><span>Shop List</span></a>
                            <ul class="sub-menu">
                                <li><a href="shop-list-1.html">Shop List Left Sidebar</a></li>
                                <li><a href="shop-list-2.html">Shop List Right Sidebar</a></li>
                                <li><a href="shop-list-3.html">Shop List No Sidebar</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#"><span>Single Product</span></a>
                            <ul class="sub-menu">
                                <li><a href="shop-single-1.html">Single Product Left Sidebar</a></li>
                                <li><a href="shop-single-2.html">Single Product Right Sidebar</a></li>
                                <li><a href="shop-single-3.html">Single Product No Sidebar</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#"><span>Checkout</span></a>
                            <ul class="sub-menu">
                                <li><a href="checkout-address.html">Checkout Address</a></li>
                                <li><a href="checkout-shipping.html">Checkout Shipping</a></li>
                                <li><a href="checkout-payment.html">Checkout Payment</a></li>
                                <li><a href="checkout-review.html">Checkout Review</a></li>
                                <li><a href="checkout-complete.html">Checkout Complete</a></li>
                            </ul>
                        </li>
                        <li><a href="cart.html">Shopping Cart</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><span>Account</span></a>
                    <ul class="sub-menu">
                        <li><a href="account-login.html">Login & Register</a></li>
                        <li><a href="account-password-recovery.html">Password Recovery</a></li>
                        <li><a href="account-profile.html">Profile Page</a></li>
                        <li><a href="account-address.html">Shipping Address</a></li>
                        <li><a href="account-orders.html">My Orders</a></li>
                        <li><a href="account-wishlist.html">My Wishlist</a></li>
                        <li><a href="account-tickets.html">My Tickets</a></li>
                        <li><a href="account-single-ticket.html">Single Ticket</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><span>Blog</span></a>
                    <ul class="sub-menu">
                        <li class="has-children">
                            <a href="#"><span>Blog Layout</span></a>
                            <ul class="sub-menu">
                                <li><a href="blog-1.html">Blog Left Sidebar</a></li>
                                <li><a href="blog-2.html">Blog Right Sidebar</a></li>
                                <li><a href="blog-3.html">Blog No Sidebar</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#"><span>Single Post Layout</span></a>
                            <ul class="sub-menu">
                                <li><a href="blog-single-1.html">Post Left Sidebar</a></li>
                                <li><a href="blog-single-2.html">Post Right Sidebar</a></li>
                                <li><a href="blog-single-3.html">Post No Sidebar</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><span>Pages</span></a>
                    <ul class="sub-menu">
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="contacts.html">Contact Us</a></li>
                        <li><a href="team.html">Our Team</a></li>
                        <li><a href="faq.html">Support Page</a></li>
                        <li><a href="order-tracking.html">Order Tracking</a></li>
                        <li><a href="search-results.html">Search Results</a></li>
                        <li><a href="404.html">404 Page</a></li>
                        <li><a href="coming-soon.html">Coming Soon</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><span>Shortcodes</span></a>
                    <ul class="sub-menu">
                        <li><a href="accordions.html"><i class="fa fa-angle-right"></i> Accordions</a></li>
                        <li><a href="alerts.html"><i class="fa fa-angle-right"></i> Alerts</a></li>
                        <li><a href="buttons.html"><i class="fa fa-angle-right"></i> Buttons</a></li>
                        <li><a href="pagination.html"><i class="fa fa-angle-right"></i> Pagination</a></li>
                        <li><a href="steps.html"><i class="fa fa-angle-right"></i> Steps</a></li>
                        <li><a href="tabs.html"><i class="fa fa-angle-right"></i> Tabs</a></li>
                        <li><a href="progress-bars.html"><i class="fa fa-angle-right"></i> Progress Bar</a></li>
                        <li><a href="carousel.html"><i class="fa fa-angle-right"></i> Carousels</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Nav Menu -->
        <!-- Start Toolbar -->
        <div class="toolbar">
            <div class="inner">
                <div class="tools">
                    <div class="search"><i class="icon-search"></i></div>
                    <!-- Start Account -->
                    <div class="account">
                        <a href="#"></a><i class="icon-head"></i>
                        <ul class="toolbar-dropdown">
                            <li class="sub-menu-user">
                                <div class="user-ava">
                                    <img src="~/ContentCustomer/Theme/images/account/user-ava-sm.jpg" alt="Tony Stark">
                                </div>
                                <div class="user-info">
                                    <h6 class="user-name">Tony Stark</h6>
                                    <span class="text-xs text-muted">530 Reward Points</span>
                                </div>
                            </li>
                            <li><a href="account-profile.html">My Profile</a></li>
                            <li><a href="account-orders.html">My Orders</a></li>
                            <li><a href="account-wishlist.html">My Wishlist</a></li>
                            <li class="sub-menu-separator"></li>
                            <li><a href="#"><i class="fa fa-lock"></i> Sign Out</a></li>
                        </ul>
                    </div>
                    <!-- End Account -->
                    <!-- Start Cart -->
                    <div class="cart">
                        <a href="#"></a>
                        <i class="icon-bag"></i>
                        <span class="count">3</span>
                        <span class="subtotal">$1920</span>
                        <div class="toolbar-dropdown">
                            <div class="dropdown-product-item">
                                <span class="dropdown-product-remove"><i class="icon-cross"></i></span>
                                <a class="dropdown-product-thumb" href="shop-single-1.html">
                                    <img src="~/ContentCustomer/Theme/images/cart-dropdown/01.jpg" alt="Product">
                                </a>
                                <div class="dropdown-product-info">
                                    <a class="dropdown-product-title" href="shop-single-1.html">Samsung Galaxy A8</a>
                                    <span class="dropdown-product-details">1 x $520</span>
                                </div>
                            </div>
                            <div class="dropdown-product-item">
                                <span class="dropdown-product-remove"><i class="icon-cross"></i></span>
                                <a class="dropdown-product-thumb" href="shop-single-2.html">
                                    <img src="~/ContentCustomer/Theme/images/cart-dropdown/02.jpg" alt="Product">
                                </a>
                                <div class="dropdown-product-info">
                                    <a class="dropdown-product-title" href="shop-single-2.html">Panasonic TX-32</a>
                                    <span class="dropdown-product-details">2 x $400</span>
                                </div>
                            </div>
                            <div class="dropdown-product-item">
                                <span class="dropdown-product-remove"><i class="icon-cross"></i></span>
                                <a class="dropdown-product-thumb" href="shop-single-3.html">
                                    <img src="~/ContentCustomer/Theme/images/cart-dropdown/03.jpg" alt="Product">
                                </a>
                                <div class="dropdown-product-info">
                                    <a class="dropdown-product-title" href="shop-single-3.html">Acer Aspire 15.6 i3</a>
                                    <span class="dropdown-product-details">1 x $600</span>
                                </div>
                            </div>
                            <div class="toolbar-dropdown-group">
                                <div class="column">
                                    <span class="text-lg">Total:</span>
                                </div>
                                <div class="column text-right">
                                    <span class="text-lg text-medium">$1920 </span>
                                </div>
                            </div>
                            <div class="toolbar-dropdown-group">
                                <div class="column">
                                    <a class="btn btn-sm btn-block btn-secondary" href="cart.html">View Cart</a>
                                </div>
                                <div class="column">
                                    <a class="btn btn-sm btn-block btn-success" href="checkout-address.html">Checkout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Cart -->
                </div>
            </div>
        </div>
        <!-- End Toolbar -->
    </header>
    <!-- End NavBar -->
    <!-- Start Content -->
    <div class="offcanvas-wrapper">
        @RenderBody()
        @Html.Partial("_PartialCategoryMainPage", categories)

        @Html.Partial("_PartialFeaturedProducts", products)
        <!-- Start Popular Brands -->
        <section class="bg-faded padding-top-3x padding-bottom-3x">
            <div class="container">
                <h3 class="text-center mb-30">Popular Brands</h3>
                <div class="owl-carousel" data-owl-carousel='{ "nav": false, "dots": false, "loop": true, "autoplay": true, "autoplayTimeout": 4000, "responsive": {"0":{"items":2}, "470":{"items":3},"630":{"items":4},"991":{"items":5},"1200":{"items":6}} }'>
                    <img class="d-block w-110 opacity-75 m-auto" src="~/ContentCustomer/Theme/images/brands/01.png" alt="Brands">
                    <img class="d-block w-110 opacity-75 m-auto" src="~/ContentCustomer/Theme/images/brands/02.png" alt="Brands">
                    <img class="d-block w-110 opacity-75 m-auto" src="~/ContentCustomer/Theme/images/brands/03.png" alt="Brands">
                    <img class="d-block w-110 opacity-75 m-auto" src="~/ContentCustomer/Theme/images/brands/04.png" alt="Brands">
                    <img class="d-block w-110 opacity-75 m-auto" src="~/ContentCustomer/Theme/images/brands/05.png" alt="Brands">
                    <img class="d-block w-110 opacity-75 m-auto" src="~/ContentCustomer/Theme/images/brands/06.png" alt="Brands">
                    <img class="d-block w-110 opacity-75 m-auto" src="~/ContentCustomer/Theme/images/brands/07.png" alt="Brands">
                </div>
            </div>
        </section>
        <!-- End Popular Brands -->
        <!-- Start Services -->
        <section class="container padding-top-3x padding-bottom-3x">
            <div class="row">
                <div class="col-md-3 col-sm-6 text-center home-cat">
                    <img class="d-block w-90 img-thumbnail rounded-circle mx-auto mb-3" src="~/ContentCustomer/Theme/images/services/01.png" alt="Shipping">
                    <h6>Free Shipping</h6>
                    <p class="text-muted margin-bottom-none">On order over $200 ...</p>
                </div>
                <div class="col-md-3 col-sm-6 text-center home-cat">
                    <img class="d-block w-90 img-thumbnail rounded-circle mx-auto mb-3" src="~/ContentCustomer/Theme/images/services/02.png" alt="Money Back">
                    <h6>Money Back</h6>
                    <p class="text-muted margin-bottom-none">Moneyback guarantee ...</p>
                </div>
                <div class="col-md-3 col-sm-6 text-center home-cat">
                    <img class="d-block w-90 img-thumbnail rounded-circle mx-auto mb-3" src="~/ContentCustomer/Theme/images/services/03.png" alt="Support">
                    <h6>24/7 Support</h6>
                    <p class="text-muted margin-bottom-none">Online consultations ...</p>
                </div>
                <div class="col-md-3 col-sm-6 text-center home-cat">
                    <img class="d-block w-90 img-thumbnail rounded-circle mx-auto mb-3" src="~/ContentCustomer/Theme/images/services/04.png" alt="Payment">
                    <h6>Secure Payment</h6>
                    <p class="text-muted margin-bottom-none">Safe Shopping Guarantee ...</p>
                </div>
            </div>
        </section>
        <!-- End Services -->

        @Html.Partial("_PartialFooter")
    </div>
    <!-- End Content -->
    <a class="scroll-to-top-btn" href="#">
        <i class="icon-arrow-up"></i>
    </a>
    <div class="site-backdrop"></div>
    @Scripts.Render("~/layoutCustomer/js")
    @RenderSection("scripts", false)
</body>
</html>