@using Coban.Market.Language
@using Coban.Market.Web.Models

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Coban Market | @ViewBag.Title</title>
    @Styles.Render("~/main/css")
    @Scripts.Render("~/jquery")
</head>
<body id="page-top">
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("AdminIndex","Home")" target="_blank">
                <div class="sidebar-brand-text mx-3">
                    Coban
                </div>
                <div class="sidebar-brand-icon">
                    <img class="logo" />
                </div>
            </a>
            <hr class="sidebar-divider my-0">
            <li id="focusHome" class="nav-item">
                <a class="nav-link" href="@Url.Action("AdminIndex","Home")">
                    <i class="fa fa-home"></i>
                    <span>@Language.Home</span>
                </a>
            </li>
            <li class="nav-item" id="catItem">
                <a id="catMenu" class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCat" aria-expanded="false" aria-controls="collapseCat">
                    <i class="fa fa-list-alt"></i>
                    <span>@Language.Categories</span>
                </a>
                <div id="collapseCat" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" style="">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a id="categoriesLinks" class="collapse-item" href="@Url.Action("Index","Category")">
                            @Language.Categories
                        </a>
                        <a id="categoryAddLinks" class="collapse-item" href="@Url.Action("Create","Category")">
                            @Language.CategoryCreate
                        </a>
                    </div>
                </div>
            </li>
            <li class="nav-item" id="prdItem">
                <a id="prdMenu" class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePrd" aria-expanded="false" aria-controls="collapsePrd">
                    <i class="fab fa-product-hunt"></i>
                    <span>@Language.Products</span>
                </a>
                <div id="collapsePrd" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" style="">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a id="productsLinks" class="collapse-item" href="@Url.Action("Index","Product")">
                            @Language.Products
                        </a>
                        <a id="productsAddLinks" class="collapse-item" href="@Url.Action("Create","Product")">
                            @Language.CreateProduct
                        </a>
                    </div>
                </div>
            </li>
            <li class="nav-item" id="userItem">
                <a id="userMenu" class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUser" aria-expanded="false" aria-controls="collapseUser">
                    <i class="fas fa-fw fa-users"></i>
                    <span>@Language.Users</span>
                </a>
                <div id="collapseUser" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" style="">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a id="usersLinks" class="collapse-item" href="@Url.Action("Index","MarketUser")">
                            @Language.Users
                        </a>
                        <a id="usersAddLinks" class="collapse-item" href="@Url.Action("Create","MarketUser")">
                            @Language.CreateUser
                        </a>
                    </div>
                </div>
            </li>
            <li class="nav-item" id="orderItem">
                <a class="nav-link" href="@Url.Action("Index","Order")">
                    <i class="fab fa-opencart"></i>
                    <span>
                        @Language.Orders
                    </span>
                </a>
            </li>


        </ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <ul class="navbar-nav ml-auto">
                        <li class="websiteView">
                            <a class="websiteViewLink" href="@Url.Action("AllProducts", "Customer")" target="_blank">
                                <i class="fa fa-eye"></i>
                                @Language.ViewSite
                            </a>
                        </li>
                        <li class="nav-item dropdown no-arrow languagePicture">
                            @Html.Partial("_PartialLanguage")
                        </li>
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="nav-item no-arrow ">
                            <div id="profiledropdown" class="dropdown">
                                <a class="btn btn-default btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                                    @if (CurrentSession.User != null)
                                    {
                                        <b class="text-uppercase username">
                                            @CurrentSession.User.Name
                                        </b>
                                        <span>
                                            &nbsp;
                                        </span>
                                        <b class="text-uppercase username">
                                            @CurrentSession.User.Surname
                                        </b>
                                        <span>
                                            &nbsp;
                                        </span>
                                        <img id="profileimage" src="../../Images/MarketUser/@CurrentSession.User.ProfileImageFilename" />
                                    }
                                </a>
                                <div id="profilelinks" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a id="dropitem4" class="dropdown-item" href="@Url.Action("ShowProfile", "Profile")">
                                        <i class="fa fa-user"></i>
                                        @Language.ShowProfile
                                    </a>
                                    <a id="dropitem1" class="dropdown-item" href="@Url.Action("ActivityLog", "Profile")">
                                        <i class="fa fa-chart-line"></i>
                                        @Language.ActivityLog
                                    </a>
                                    <a id="dropitem2" class="dropdown-item" href="@Url.Action("Settings", "Profile")">
                                        <i class="fa fa-cogs"></i>
                                        @Language.Settings
                                    </a>
                                    <a id="dropitem3" class="dropdown-item" href="@Url.Action("Logout", "Account")">
                                        <i class="fa fa-sign-out-alt"></i>
                                        @Language.LogOut
                                    </a>
                                </div>
                            </div>

                        </li>
                    </ul>
                </nav>
                <div class="container-fluid">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-primary"></h1>
                    </div>
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up">

        </i>
    </a>
    <input id="url" value="@HttpContext.Current.Request.RawUrl" />
    @Scripts.Render("~/main/js")
    @RenderSection("scripts", false)
</body>
</html>
