@using Coban.Market.Entities
@using Coban.Market.Language
@using Coban.Market.Web.Models
@{
    List<Category> list = CacheHelper.GetCategoriesFromCache();
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>Coban Market | @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    @Styles.Render("~/layoutCustomer/css")
</head>
<body>
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object" id="object_four"></div>
                <div class="object" id="object_three"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_one"></div>
            </div>
        </div>
    </div>
    <div class="offcanvas-container" id="shop-categories">
        <div class="offcanvas-header">
            <h3 class="offcanvas-title text-center">@Language.Categories</h3>
        </div>
        <nav class="offcanvas-menu">
            <ul class="menu">
                <li class="has-children active">
                    <span>
                        <a href="@Url.Action("ShopCategory", "Home")">
                            @Language.Categories
                        </a>
                    </span>
                </li>
                @foreach (var item in list)
                {
                    if (item.Categories != null && item.Id != 1)
                    {
                        <li class="has-children">
                            <span>
                                <a href="@Url.Action("ByCategory", "Customer", new {id = item.Id})">
                                    @item.Title
                                </a>
                                <span class="sub-menu-toggle"></span>
                            </span>
                            <ul class="offcanvas-submenu">
                                @foreach (var subcategories in item.Categories)
                                {
                                    <li>
                                        <a href="@Url.Action("ShopCategory", "Home", new {id = subcategories.Id})">
                                            @subcategories.Title
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                }
            </ul>
        </nav>
    </div>
    <div class="offcanvas-container" id="mobile-menu">
        <a class="account-link" href="#">
            @if (CurrentSession.User != null)
            {
                <div class="user-ava">
                    <img src="~/Images/MarketUser/@CurrentSession.User.ProfileImageFilename" alt="@CurrentSession.User.Username">
                </div>
                <div class="user-info">
                    <h6 class="user-name">
                        <b>@CurrentSession.User.Name</b>
                        <b>@CurrentSession.User.Surname</b>
                    </h6>
                    <span class="text-sm text-white opacity-60">
                        @CurrentSession.User.RewardScore @Language.RewardPoint
                    </span>
                </div>
            }
            else
            {
                <div class="user-ava">
                    <img src="~/Images/MarketUser/user_boy.png" alt="@Language.Username">
                </div>
                <div class="user-info">
                    <h6 class="user-name">
                        <b>@Language.Name</b>
                        <b>@Language.Surname</b>
                    </h6>
                    <span class="text-sm text-white opacity-60">
                        0 @Language.RewardPoint
                    </span>
                </div>
            }
        </a>
        <nav class="offcanvas-menu">
            <ul class="menu">
                <li class="has-children active">
                    <span>
                        <a href="@Url.Action("ByCategory", "Customer")">
                            @Language.Categories
                        </a>
                    </span>
                </li>
                @foreach (var item in list)
                {
                    if (item.Categories != null && item.Id != 1)
                    {
                        <li class="has-children">
                            <span>
                                <a href="@Url.Action("ByCategory", "Customer", new {id = item.Id})">
                                    @item.Title
                                </a>
                                <span class="sub-menu-toggle"></span>
                            </span>
                            <ul class="offcanvas-submenu">
                                @foreach (var subcategories in item.Categories)
                                {
                                    <li>
                                        <a href="@Url.Action("ByCategory", "Customer", new {id = subcategories.Id})">
                                            @subcategories.Title
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                }
            </ul>
        </nav>
    </div>
    <div class="topbar">
        <div class="topbar-column">
            <a class="hidden-md-down" href="#"><i class="fa fa-phone"></i>&nbsp;+90 542 531 4977</a>
            <a class="hidden-md-down" href="#"><i class="fa fa-envelope-o"></i>&nbsp;yasincobaan@gmail.com</a>
            <a class="hidden-md-down" href="#"><i class="fa fa-map-marker"></i>Ankara, TR</a>
        </div>
        <div class="topbar-column">
            <div class="lang-currency-switcher-wrap">
                <div class="lang-currency-switcher dropdown-toggle">
                    <span class="currency">₺ TRY</span>
                </div>
                <div class="dropdown-menu">
                    <div class="currency-select text-center">
                        <a href="#" data-price="TRY">₺ TRY</a><br />
                        <a href="#" data-price="usd">$ USD</a><br />
                        <a href="#" data-price="eur">€ EUR</a><br />
                        <a href="#" data-price="ukp">£ UKP</a><br />
                        <a href="#" data-price="jpy">¥ JPY</a>
                    </div>
                </div>
            </div>
            <a class="social-button sb-facebook shape-none sb-dark soc-border" href="https://www.facebook.com/yasiincobaan" target="_blank"><i class="socicon-facebook"></i></a>
            <a class="social-button sb-instagram shape-none sb-dark" href="https://www.instagram.com/yasiincoban/" target="_blank"><i class="socicon-instagram"></i></a>
        </div>
    </div>
    <header class="navbar navbar-sticky">
        @using (Html.BeginForm("Search", "Home", FormMethod.Post))
        {
            <div class="site-search">
                <input type="text" name="site_search" placeholder="@Language.TypeToSearch">
                <div class="search-tools">
                    <span class="clear-search">@Language.Clear</span>
                    <span class="close-search"><i class="icon-cross"></i></span>
                </div>
            </div>
        }
        <div class="site-branding">
            <div class="inner">
                <a class="offcanvas-toggle cats-toggle" href="#shop-categories" data-toggle="offcanvas"></a>
                <a class="offcanvas-toggle menu-toggle" href="#mobile-menu" data-toggle="offcanvas"></a>
                <a class="site-logo" href="@Url.Action("Index", "Home")">
                    <img style="width: 50px;" class="logoPng" src="~/ContentAdmin/Images/logo.png" alt="Coban Market">
                </a>
            </div>
        </div>
        <nav class="site-menu">
            <ul>
                <li class="active">
                    <a href="@Url.Action("ByCategory", "Customer")">
                        <span>@Language.Categories</span>
                    </a>  <ul class="sub-menu">
                        @foreach (var item in list)
                        {
                            if (item.Categories == null)
                            {
                                <li>
                                    <a href="@Url.Action("ByCategory","Customer",new{id=item.Id})">
                                        <span>@item.Title</span>
                                    </a>
                                </li>
                            }

                        }
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="toolbar">
            <div class="inner">
                <div class="tools">
                    <div class="search">
                        <i class="icon-search"></i>
                    </div>
                    <div class="account">
                        <a href="@Url.Action("ShowProfile","Profile")"></a><i class="icon-head"></i>
                        <ul class="toolbar-dropdown">
                            <li class="sub-menu-user">
                                @if (CurrentSession.User != null)
                                {
                                    <div class="user-ava">
                                        <img src="~/Images/MarketUser/@CurrentSession.User.ProfileImageFilename" alt="@CurrentSession.User.Username">
                                    </div>
                                    <div class="user-info">
                                        <h6 class="user-name">
                                            <b>@CurrentSession.User.Username</b>
                                        </h6>
                                        <span class="text-xs text-muted">
                                            @CurrentSession.User.RewardScore @Language.RewardPoint
                                        </span>
                                    </div>
                                }
                                else
                                {
                                    <div class="user-ava">
                                        <img src="~/Images/MarketUser/user_boy.png" alt="@Language.Username">
                                    </div>
                                    <div class="user-info">
                                        <h6 class="user-name">
                                            <b>@Language.Username</b>
                                        </h6>
                                        <span class="text-xs text-muted">
                                            0 @Language.RewardPoint
                                        </span>
                                    </div>
                                }

                            </li>
                            <li><a href="@Url.Action("ShowProfile","Profile")">@Language.ShowProfile</a></li>
                            <li><a href="@Url.Action("Orders","Order")">@Language.Orders</a></li>
                            <li><a href="@Url.Action("Wishlist","Profile")">@Language.Whishlist</a></li>
                            <li class="sub-menu-separator"></li>
                            <li><a href="@Url.Action("Logout","Account")"><i class="fa fa-lock"></i> @Language.SignOut</a></li>
                        </ul>
                    </div>
                    @Html.Action("Summary", "Cart")
                </div>
            </div>
        </div>
    </header>
    <div class="offcanvas-wrapper">
        <div class="page-title">
            <div class="container">
                <div class="column">
                    <h1>@ViewBag.Title</h1>
                </div>
                <div class="column">
                    <ul class="breadcrumbs">
                        <li><a href="@Url.Action("Index","Home")">@Language.Home</a></li>
                        <li class="separator">&nbsp;</li>
                        <li>@ViewBag.Title</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </div>
    <a class="scroll-to-top-btn" href="#">
        <i class="icon-arrow-up"></i>
    </a>
    <div class="site-backdrop">

    </div>
    <input id="url" value="@HttpContext.Current.Request.RawUrl" />
    @Scripts.Render("~/layoutCustomer/js")
    @RenderSection("scripts", false)
</body>
</html>