@using Coban.Market.Language



<div class="row">
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <a id="acilirKapanirMonth" href="#monthsearch" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="a">
                <h6 class="m-0 font-weight-bold text-primary text-center">
                    @Language.Monthandyearbasedsearch
                </h6>
            </a>
            <div class="collapse show" id="monthsearch" style="">
                <div class="card-body">
                    <div class="form-group row">
                        <label class="control-label col-md-4">
                            @Language.SelectYear
                        </label>
                        <select id="year" class="form-control col-md-4">
                            @for (int i = 2019; i < 2100; i++)
                            {
                                <option>@i</option>
                            }
                        </select>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-4">
                            @Language.SelectMonth
                        </label>
                        <select id="month" class="form-control col-md-4">
                            <option value="">
                                @Language.Allof
                            </option>
                            @for (int i = 1; i < 13; i++)
                            {
                                <option>
                                    @i
                                </option>
                            }
                        </select>
                        <span class="col-md-2">
                        </span>
                        <span class="col-md-2">
                            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" id="SearchMonthYear">

                                <i class="fas fa-search"></i>

                                <span class="text">
                                    @Language.Search
                                </span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card shadow mb-4 hei" id="hei">
            <a id="acilirKapanirDatePicker" href="#datepicker" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="b">
                <h6 class="m-0 font-weight-bold text-primary text-center">
                    @Language.SearchforDates
                </h6>
            </a>
            <div class="collapse show" id="datepicker" style="">
                <div class="card-body">
                    <div class="form-group row">
                        <label class="control-label col-md-4">
                            @Language.SelectedDates
                        </label>
                        <span class="col-md-6">
                            <div class="input-group">
                                <input type="text" name="daterange" value="" class="form-control" />
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </span>

                        <span class="col-md-2">

                            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" id="SearchDateRange">
                                <i class="fas fa-search"></i>
                                <span class="text">
                                    @Language.Search
                                </span>
                            </a>
                        </span>
                        <input type="text" name="first" style="        display: none;" id="first" />
                        <input type="text" name="last" id="last" style="        display: none;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/searchBox/js")
