@model IEnumerable<Coban.Market.Entities.Category>

<div class="container-fluid px-0">
    <div class="row mx-0">
        <div class="category-card col-lg-4 col-sm-6 fw-section padding-top-3x padding-bottom-3x home-2-hero-cat-1">
            <span class="overlay home-2-hero-sub"></span>
            <div class="d-flex justify-content-center">
                <div class="px-3 text-center">
                    <h2 class="display-4 text-white text-shadow">Smartphones</h2>
                    <div class="view-button">
                        <a class="btn btn-primary" href="@Url.Action("ByCategory","Home",new {id=2})">View Products</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="category-card col-lg-4 col-sm-6 fw-section padding-top-3x padding-bottom-3x home-2-hero-cat-2">
            <span class="overlay home-2-hero-sub"></span>
            <div class="d-flex justify-content-center">
                <div class="px-3 text-center">
                    <h2 class="display-4 text-white text-shadow">Televisions</h2>

                    <div class="view-button">
                        <a class="btn btn-primary" href="@Url.Action("ByCategory","Home",new {id=3})">View Products</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="category-card col-lg-4 col-sm-6 fw-section padding-top-3x padding-bottom-3x home-2-hero-cat-3">
            <span class="overlay home-2-hero-sub"></span>
            <div class="d-flex justify-content-center">
                <div class="px-3 text-center">
                    <h2 class="display-4 text-white text-shadow">Laptops</h2>
                    <div class="view-button">
                        <a class="btn btn-primary" href="@Url.Action("ByCategory","Home",new {id=4})">View Products</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="category-card col-lg-4 col-sm-6 fw-section padding-top-3x padding-bottom-3x home-2-hero-cat-4">
            <span class="overlay home-2-hero-sub"></span>
            <div class="d-flex justify-content-center">
                <div class="px-3 text-center">
                    <h2 class="display-4 text-white text-shadow">Watches</h2>
                    <div class="view-button">
                        <a class="btn btn-primary" href="@Url.Action("ByCategory","Home",new {id=5})">View Products</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="category-card col-lg-4 col-sm-6 fw-section padding-top-3x padding-bottom-3x home-2-hero-cat-5">
            <span class="overlay home-2-hero-sub"></span>
            <div class="d-flex justify-content-center">
                <div class="px-3 text-center">
                    <h2 class="display-4 text-white text-shadow">Consoles</h2>
                    <div class="view-button">
                        <a class="btn btn-primary" href="@Url.Action("ByCategory","Home",new {id=6})">View Products</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="category-card col-lg-4 col-sm-6 fw-section padding-top-3x padding-bottom-3x home-2-hero-cat-6">
            <span class="overlay home-2-hero-sub"></span>
            <div class="d-flex justify-content-center">
                <div class="px-3 text-center">
                    <h2 class="display-4 text-white text-shadow">Cameras</h2>
                    <div class="view-button">
                        <a class="btn btn-primary" href="@Url.Action("ByCategory","Home",new {id=7})">View Products</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
