@model Coban.Market.Entities.MarketUser

    <div class="col-lg-4">
        <aside class="user-info-wrapper">
            <div class="user-cover account-details">
                <div class="info-label" data-toggle="tooltip" title="You currently have @Model.RewardScore Reward Points to spend">
                    <i class="icon-medal"></i>
                    @Model.RewardScore
                </div>
            </div>
            <div class="user-info">
                <div class="user-avatar">
                    <a class="edit-avatar" href="#"></a>
                    <img src="~/Images/MarketUser/@Model.ProfileImageFilename" alt="@Model.Username">
                </div>
                <div class="user-data">
                    <h4>
                        @Model.Name @Model.Surname
                    </h4>
                    <span>
                        Joined @Model.CreatedOn.Date
                    </span>
                </div>
            </div>
        </aside>
        <nav class="list-group">
            <a class="list-group-item active" href="#">
                <i class="icon-head"></i>
                My Profile
            </a>
            <a class="list-group-item with-badge" href="#">
                <i class="icon-bag"></i>
                My Orders
                <span class="badge badge-primary badge-pill">
                    6
                </span>
            </a>
            <a class="list-group-item" href="#">
                <i class="icon-map"></i>
                My Addresses
            </a>
            <a class="list-group-item with-badge" href="#">
                <i class="icon-heart"></i>
                My Wishlist
                <span class="badge badge-primary badge-pill">
                    3
                </span>
            </a>
            <a class="list-group-item with-badge" href="#">
                <i class="icon-tag"></i>
                My Tickets
                <span class="badge badge-primary badge-pill">
                    4
                </span>
            </a>
        </nav>
    </div>