@model Coban.Market.Entities.Product

@{
    ViewBag.Title = Model.ProductName;

    double? indirimyüzdesi = 100 - (Model.DiscountedPrice * 100 / Model.Price);


    decimal result = Math.Ceiling(decimal.Parse(indirimyüzdesi.ToString()) * 100) / 100;
}

<div class="container padding-top-1x padding-bottom-3x">
    <div class="row">
        <div class="col-md-6">
            <div class="product-gallery">
                <span class="product-badge text-danger">
                    @if (Model.DiscountedPrice != 0 || Model.DiscountedPrice != null)
                    {
                        <b>
                            @result
                            % Off
                        </b>
                    }
                </span>
                <div class="gallery-wrapper">
                    <div class="gallery-item active">
                        <a href="~/Images/Product/@Model.Image1" data-hash="one" data-size="1000x667"></a>
                    </div>
                    <div class="gallery-item">
                        <a href="~/Images/Product/@Model.Image1" data-hash="two" data-size="1000x667"></a>
                    </div>
                    <div class="gallery-item">
                        <a href="~/Images/Product/@Model.Image1" data-hash="three" data-size="1000x667"></a>
                    </div>
                    <div class="gallery-item">
                        <a href="~/Images/Product/@Model.Image1" data-hash="four" data-size="1000x667"></a>
                    </div>
                    <div class="gallery-item">
                        <a href="~/Images/Product/@Model.Image1" data-hash="five" data-size="1000x667"></a>
                    </div>
                </div>
                <div class="product-carousel owl-carousel">
                    <div data-hash="one">
                        <img src="~/Images/Product/@Model.Image1" alt="@Model.ProductName">
                    </div>
                    <div data-hash="two">
                        <img src="~/Images/Product/@Model.Image1" alt="@Model.ProductName">
                    </div>
                    <div data-hash="three">
                        <img src="~/Images/Product/@Model.Image1" alt="@Model.ProductName">
                    </div>
                    <div data-hash="four">
                        <img src="~/Images/Product/@Model.Image1" alt="@Model.ProductName">
                    </div>
                    <div data-hash="five">
                        <img src="~/Images/Product/@Model.Image1" alt="@Model.ProductName">
                    </div>
                </div>
                <ul class="product-thumbnails">
                    <li class="active">
                        <a href="#one">
                            <img src="~/Images/Product/@Model.Image1" alt="@Model.ProductName">
                        </a>
                    </li>
                    <li>
                        <a href="#two">
                            <img src="~/Images/Product/@Model.Image1" alt="@Model.ProductName">
                        </a>
                    </li>
                    <li>
                        <a href="#three">
                            <img src="~/Images/Product/@Model.Image1" alt="@Model.ProductName">
                        </a>
                    </li>
                    <li>
                        <a href="#four">
                            <img src="~/Images/Product/@Model.Image1" alt="@Model.ProductName">
                        </a>
                    </li>
                    <li>
                        <a href="#five">
                            <img src="~/Images/Product/@Model.Image1" alt="@Model.ProductName">
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-6 single-shop">
            <div class="hidden-md-up"></div>
            <div class="rating-stars">
                <i class="icon-star filled"></i>
                <i class="icon-star filled"></i>
                <i class="icon-star filled"></i>
                <i class="icon-star filled"></i>
                <i class="icon-star filled"></i>
            </div>
            <span class="text-muted align-middle">
                &nbsp;&nbsp;5 | 13 Customer Reviews
            </span>
            <h2 class="padding-top-1x text-normal with-side">
                @Model.ProductName
            </h2>
            <span class="h2 d-block with-side">
                @if (Model.DiscountedPrice != 0 || Model.DiscountedPrice != null)
                {
                    <del class="text-muted text-normal">
                        @Model.Price.ToString("C2")
                    </del>
                    <span>&nbsp; @Model.DiscountedPrice.Value.ToString("C2")</span>
                }
                else
                {
                    <span class="text-normal">&nbsp; @Model.Price.ToString("C2")</span>
                }
            </span>
            <p>
                @Html.Raw(Model.LittleDescription)
            </p>
            <div class="row margin-top-1x">
              
                @Html.Raw(Model.Description)
            </div>
            <div class="pt-1 mb-2"><span class="text-medium">Stok Kodu:</span> #@Model.StockCode</div>
            <div class="padding-bottom-1x mb-2">
                <span class="text-medium">Categories:&nbsp;</span>
                <a class="navi-link" href="#">@Model.Category.Title</a>

            </div>
        </div>
        <div class="col-md-12">
            <hr class="mt-30 mb-30">
            <div class="d-flex flex-wrap justify-content-between mb-30">
                <div class="entry-share">
                    <span class="text-muted">Share:</span>
                    <div class="share-links">
                        <a class="social-button shape-circle sb-facebook" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                            <i class="socicon-facebook"></i>
                        </a>
                        <a class="social-button shape-circle sb-twitter" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                            <i class="socicon-twitter"></i>
                        </a>
                        <a class="social-button shape-circle sb-instagram" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram">
                            <i class="socicon-instagram"></i>
                        </a>
                        <a class="social-button shape-circle sb-google-plus" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google +">
                            <i class="socicon-googleplus"></i>
                        </a>
                    </div>
                </div>
                <div class="sp-buttons mt-2 mb-2">
                    <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="" data-original-title="Whishlist">
                        <i class="icon-heart"></i>
                    </button>
                    <button class="btn btn-primary" data-toast="" data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="icon-bag"></i> Add to Cart</button>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-12">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item"><a class="nav-link active" href="#description" data-toggle="tab" role="tab">Description</a></li>
            <li class="nav-item"><a class="nav-link" href="#reviews" data-toggle="tab" role="tab">Reviews</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="description" role="tabpanel">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <p class="mb-30">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
            <div class="tab-pane fade" id="reviews" role="tabpanel">

                <div class="comment">
                    <div class="comment-author-ava"><img src="assets/images/reviews/01.jpg" alt="Review Author"></div>
                    <div class="comment-body">
                        <div class="comment-header d-flex flex-wrap justify-content-between">
                            <h4 class="comment-title">Lorem Ipsum is simply dummy</h4>
                            <div class="mb-2">
                                <div class="rating-stars"><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i></div>
                            </div>
                        </div>
                        <p class="comment-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                        <div class="comment-footer"><span class="comment-meta">John Doe</span></div>
                    </div>
                </div>

                <div class="comment">
                    <div class="comment-author-ava"><img src="assets/images/reviews/02.jpg" alt="Review Author"></div>
                    <div class="comment-body">
                        <div class="comment-header d-flex flex-wrap justify-content-between">
                            <h4 class="comment-title">Lorem Ipsum is simply dummy</h4>
                            <div class="mb-2">
                                <div class="rating-stars"><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i></div>
                            </div>
                        </div>
                        <p class="comment-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                        <div class="comment-footer"><span class="comment-meta">Julia Smith</span></div>
                    </div>
                </div>

                <div class="comment">
                    <div class="comment-author-ava"><img src="assets/images/reviews/03.jpg" alt="Review Author"></div>
                    <div class="comment-body">
                        <div class="comment-header d-flex flex-wrap justify-content-between">
                            <h4 class="comment-title">Lorem Ipsum is simply dummy</h4>
                            <div class="mb-2">
                                <div class="rating-stars"><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i></div>
                            </div>
                        </div>
                        <p class="comment-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                        <div class="comment-footer"><span class="comment-meta">Rick Armstrong</span></div>
                    </div>
                </div>

                <h5 class="mb-30 padding-top-1x">Leave Review</h5>
                <form class="row" method="post">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="review_name">Your Name</label>
                            <input class="form-control form-control-rounded" type="text" id="review_name" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="review_email">Your Email</label>
                            <input class="form-control form-control-rounded" type="email" id="review_email" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="review_subject">Your Subject</label>
                            <input class="form-control form-control-rounded" type="text" id="review_subject" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="review_rating">Your Rate</label>
                            <select class="form-control form-control-rounded" id="review_rating">
                                <option>5 Stars</option>
                                <option>4 Stars</option>
                                <option>3 Stars</option>
                                <option>2 Stars</option>
                                <option>1 Star</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="review_text">Review </label>
                            <textarea class="form-control form-control-rounded" id="review_text" rows="8" required></textarea>
                        </div>
                    </div>
                    <div class="col-12 text-right">
                        <button class="btn btn-outline-primary" type="submit">Submit Review</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

   
    

</div>
