@using Coban.Market.Language
@model Coban.Market.Web.Models.OrderModels.OrderDetailsModel
@{
    ViewBag.Title = "Details";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>



<div class="row">
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <a class="d-block card-header py-3">
                <h6 class="m-0 font-weight-bold text-success text-center">
                    @Language.OrderDetails
                </h6>
            </a>


            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        @if (TempData["message"] != null)
                        {
                            <div class="alert alert-success">
                                @TempData["message"]
                            </div>
                        }
                        <dl class="row">
                            <dt class="col-sm-3">
                                @Language.Username
                            </dt>
                            <dd class="col-sm-3 alert alert-success text-center" style="border: 1px solid black;">
                                <a href="@Url.Action("ShowCustomer","Profile",new{id=Model.UserName})" target="_blank">
                                    <b class="text-danger">
                                        @Model.UserName.ToUpper()
                                    </b>
                                </a>
                            <dd>
                            <dd class="col-sm-6">

                            <dd>
                            <dt class="col-sm-3">
                                @Language.OrderStatu
                            </dt>
                            <dd class="col-sm-3">
                                @using (Html.BeginForm("UpdateOrderState", "Order", FormMethod.Post))
                                {
                                    @Html.HiddenFor(i => i.OrderId)
                                    <dl class="row">
                                        <dt class="col-sm-8">
                                            @Html.EnumDropDownListFor(i => i.OrderState, "Sipariş Durumunu Seçiniz", new { @class = "form-control" })
                                        </dt>
                                        <dd class="col-sm-4">
                                            <button type="submit" class="btn btn-primary btn-sm">
                                                @Language.Update
                                            </button>
                                        </dd>
                                    </dl>
                                }
                            </dd>
                            <dd class="col-sm-6">

                            </dd>
                            <dt class="col-sm-3">
                                @Language.OrderId
                            </dt>
                            <dd class="col-sm-9">
                                @Model.OrderId
                            </dd>

                            <dt class="col-sm-3">
                                @Language.OrderNumber
                            </dt>
                            <dd class="col-sm-9">
                                @Model.OrderNumber
                            </dd>

                            <dt class="col-sm-3">
                                @Language.TotalPrice
                            </dt>
                            <dd class="col-sm-9">
                                <i class="fa fa-try" aria-hidden="true"></i>
                                @Model.Total.ToString("C2")
                            </dd>

                            <dt class="col-sm-3">
                                @Language.OrderDateTime
                            </dt>
                            <dd class="col-sm-9">
                                @Model.OrderDate.ToShortDateString()
                            </dd>


                            <dt class="col-sm-3">
                                @Language.Adress
                            </dt>
                            <dd class="col-sm-9">
                                @Model.AdresBasligi
                                <hr />
                                @Model.Adres
                                <br />
                                @Model.Sehir - @Model.Semt - @Model.Mahalle
                                <br />
                                @Model.PostaKodu
                            </dd>

                            <dt class="col-sm-3">
                                @Language.Products
                            </dt>
                            <dd class="col-sm-9">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Language.ProductImage
                                            </th>
                                            <th style="width: 45%;">
                                                @Language.ProductName
                                            </th>
                                            <th>
                                                @Language.ProductCount
                                            </th>
                                            <th>
                                                @Language.Price
                                            </th>
                                            <th>
                                                @Language.Details
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Orderlines)
                                        {
                                            <tr>
                                                <td>
                                                    <a data-fancybox="gallery" id="@item.Image" href="/Images/Product/@item.Image">
                                                        <img style="width: 70px;" src="/Images/Product/@item.Image" />
                                                    </a>
                                                </td>
                                                <td>
                                                    @item.ProductName
                                                </td>
                                                <td>
                                                    @item.Quantity
                                                </td>
                                                <td>
                                                    <i class="fa fa-try" aria-hidden="true"></i>
                                                    @item.Price.ToString("C2")
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("SingleProduct","Customer",new {id=item.ProductId})" class="btn btn-dark btn-sm" target="_blank">
                                                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                        @Language.ProductDetails
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





