@using Coban.Market.Language
@using Coban.Market.Web.Models.OrderModels
@model Cart

<div class="cart">
    <a href="#"></a>
    <i class="icon-bag"></i>
    <span class="count">

        @Model.CartLines.Count
    </span>
    <span class="subtotal">@Model.Total()</span>
    <div class="toolbar-dropdown">
        @if (Model.CartLines.Count > 0)
        {
            foreach (var item in Model.CartLines)
             {
                 <div class="dropdown-product-item">
                     <span class="dropdown-product-remove">
                         <i class="icon-cross"></i>
                     </span>
                     <a class="dropdown-product-thumb" href="#">
                         <img src="~/Images/Product/@item.Product.Image1" alt="@item.Product.ProductName">
                     </a>
                     <div class="dropdown-product-info">
                         <a class="dropdown-product-title" href="#">@item.Product.ProductName</a>
                         <span class="dropdown-product-details">@item.Product.Price x @item.Quantity</span>
                     </div>
                 </div>
             }
        }
           
     

        <div class="toolbar-dropdown-group">
            <div class="column">
                <span class="text-lg">Total:</span>
            </div>
            <div class="column text-right">
                <span class="text-lg text-medium">@Model.Total() </span>
            </div>
        </div>



        <div class="toolbar-dropdown-group">
            <div class="column">
                <a class="btn btn-sm btn-block btn-secondary" href="@Url.Action("Index","Cart")">
                    @Language.ViewCart
                </a>
            </div>
            <div class="column">
                <a class="btn btn-sm btn-block btn-success" href="@Url.Action("Checkout","Cart")">
                    @Language.Checkout
                </a>
            </div>
        </div>
    </div>
</div>